extends layouts/main-layout.pug

block content
    if !profileUser
        p.profileNotFoundErrMsg Please check if the username or user id is incorrect. 
    else 
        script.
            const profileUserId = `!{profileUser._id}`
            const selectedTab = `!{selectedTab}`

        - let followerCount = profileUser.followers.length 
        - let followingCount = profileUser.followings.length

        .profileHeaderContainer
            .coverPhotoContainer 

                .userImageContainer 
                    img(src=profileUser.profileImg, alt='User profile image')
            .profileButtonsContainer 
                if profileUser._id !== loggedInUser._id 
                    a.profileButton(href=`/messages/${profileUser._id}`) 
                        i.fas.fa-envelope
                    
                    - const profileUserId = profileUser._id.toString()
                    - if (loggedInUser.followings?.includes(profileUserId))
                        +createFollowButton(profileUser, true)
                    - else 
                        +createFollowButton(profileUser, false)

            .userDetailsContainer 
                span.displayName #{profileUser.firstName} #{profileUser.lastName}
                span.username @#{profileUser.username}
                span.description #{profileUser.description}

                .followersContainer
                    a(href=`/profile/${profileUser.username}/following`) 
                        span.value #{followingCount}
                        span Following
                    a(href=`/profile/${profileUser.username}/followers`) 
                        span#followersValue.value #{followerCount}
                        span Followers
        .tabsContainer 
            +createTab('Posts', `/profile/${profileUser.username}`, selectedTab !== 'replies')
            +createTab('Replies', `/profile/${profileUser.username}/replies`, selectedTab === 'replies')


        .postsContainter
        
        +createPostModals(loggedInUser)

block scripts
    script(src='/js/profile.js') 