mixin createPostForm(loggedInUser)
    .postFormContainer
        .userImageContainer
            img(src=loggedInUser.profileImg, alt=`User's profile photo`)
        .textareaContainer
            textarea#postTextarea(placeholder=`What's happening? `)
            .buttonContainer
                button#submitPostButton(disabled='') Post

mixin createReplyPostForm(loggedInUser)
    .postFormContainer
        .userImageContainer
            img(src=loggedInUser.profileImg, alt=`User's profile photo`)
        .textareaContainer
            textarea#replyTextarea(placeholder=`What's happening? `)

mixin createReplyModal(loggedInUser)
    #replyModal.modal.fade(tabindex='-1', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#replyModalLabel.modal-title.fs-5 Reply
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    #originalPostContainer
                    +createReplyPostForm(loggedInUser)
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                    button#submitReplyButton.btn.btn-primary(type='button' disabled='') Reply

mixin createDeletePostModal()
    #deletePostModal.modal.fade(tabindex='-1', aria-labelledby='deletePostModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#deletePostModalLabel.modal-title.fs-5 Delete the post?
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    p You won't be able to delete this.
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                    button#deletePostButton.btn.btn-primary(type='button') Delete

mixin createPostModals(loggedInUser)
    +createReplyModal(loggedInUser)
    +createDeletePostModal()

mixin createFollowButton(user, isFollowing)
    - buttonText = isFollowing ? 'Following' : 'Follow' 
    - buttonClass = isFollowing ? 'followButton following' : 'followButton' 
    button(class=buttonClass, data-user=user._id) #{buttonText}

mixin createTab(name, href, isSelected)
    - className = isSelected ? 'tab active' : 'tab'
    a(href=href, class=className) 
        span #{name}

mixin createImageUploadModal()
    #imageUploadModal.modal.fade(tabindex='-1', aria-labelledby='imageUploadModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#imageUploadModalLabel.modal-title.fs-5 Upload a new profile Image
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    input#fileImage(type='file', name='fileImage')

                    .imagePreviewContainer 
                        img#imagePreview
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                    button#imageUploadButton.btn.btn-primary(type='button') Save