mixin createPostForm(loggedInUser)
    .postFormContainer
        .userImageContainer
            img(src=loggedInUser.profileImage, alt=`User's profile photo`)
        .textareaContainer
            textarea#postTextarea(placeholder=`What's happening? `)
            .buttonContainer
                button#submitPostButton(disabled='') Post

mixin createReplyPostForm(loggedInUser)
    .postFormContainer
        .userImageContainer
            img(src=loggedInUser.profileImage, alt=`User's profile photo`)
        .textareaContainer
            textarea#replyTextarea(placeholder=`What's happening? `)

mixin createReplyModal(loggedInUser)
    #replyModal.modal.fade(tabindex='-1', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#replyModalLabel.modal-title.fs-5 Reply
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    #originalPostContainer
                    +createReplyPostForm(loggedInUser)
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                    button#submitReplyButton.btn.btn-primary(type='button' disabled='') Reply

mixin createDeletePostModal()
    #deletePostModal.modal.fade(tabindex='-1', aria-labelledby='deletePostModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#deletePostModalLabel.modal-title.fs-5 Delete this post?
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    p ⚠️ You cannot undo the delete. 
                    p Please make sure this is the post you want to delete. 
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                    button#deletePostButton.btn.btn-primary(type='button') Delete

mixin createPostModals(loggedInUser)
    +createReplyModal(loggedInUser)
    +createDeletePostModal()
    +createPinPostModal()
    +createUnpinPostModal()

mixin createFollowButton(user, isFollowing)
    - buttonText = isFollowing ? 'Following' : 'Follow' 
    - buttonClass = isFollowing ? 'followButton following' : 'followButton' 
    button(class=buttonClass, data-user=user._id) #{buttonText}

mixin createTab(name, href, isSelected)
    - className = isSelected ? 'tab active' : 'tab'
    a(href=href, class=className) 
        span #{name}

mixin createImageUploadModal()
    #imageUploadModal.modal.fade(tabindex='-1', aria-labelledby='imageUploadModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#imageUploadModalLabel.modal-title.fs-5 Upload a new profile image
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    input#fileImage(type='file', name='fileImage')

                    .imagePreviewContainer 
                        img#imagePreview
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                    button#imageUploadButton.btn.btn-primary(type='button') Save

mixin createCoverImageUploadModal()
    #coverImageUploadModal.modal.fade(tabindex='-1', aria-labelledby='coverImageUploadModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#coverImageUploadModalLabel.modal-title.fs-5 Upload a new cover image
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    input#coverImage(type='file', name='coverImage')

                    .imagePreviewContainer 
                        img#coverPreview
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                    button#coverImageUploadButton.btn.btn-primary(type='button') Save

mixin createPinPostModal()
    #pinPostModal.modal.fade(tabindex='-1', aria-labelledby='pinPostModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#pinPostModalLabel.modal-title.fs-5 Pin this post?
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    p 📌 This post will appear at the top of your profile page. 
                    p You can only pin one post. 
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                    button#pinPostButton.btn.btn-primary(type='button') Pin

mixin createUnpinPostModal()
    #unpinPostModal.modal.fade(tabindex='-1', aria-labelledby='unpinPostModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#unpinPostModalLabel.modal-title.fs-5 Unpin this post?
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    p This post will be unpinned.
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                    button#unpinPostButton.btn.btn-primary(type='button') Unpin